

<div id="plot-img">
    <img src="<%= plot.img_link %>">
</div>
<div id="details-text">
    <h1><%= plot.title %></h1>
    <h3><%= plot.architect.name %></h3>
    <div id="address"><img src="https://db.tt/j97PY6WG"><p><%= plot.address %></p></div>
    <p id="type"><%= plot.typ %></p>
    <p><%= plot.description %></p>
</div>

<img alt="Close" id="plot-close-icon" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-white.svg" width="24px">
