<div id="plot-img">
    <img src="<%= plot.img_link %>">
</div>
<div id="details-text">
    <h1><%= plot.title %></h1>
    <h2><%= plot.architect.name %></h2>
    <p>Address: <%= plot.address %></p>
    <p>Building Type: <%= plot.typ %></p>
    <p class="scroll"><%= plot.description %></p>
</div>
