
<%= render 'partials/menu' %>

<div class='header'>
  <img alt="Open" class="icon-menu" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/menu-black.svg" width="24px">
  <div class="container">
    <h1>Archimapper</h1>
  </div>
</div>

<div class='container'>
  <h2>Buildings</h2>
  <div class='row'>
    <% @plots.order('title').each do |plot| %> 
      <div class="col-md-3">
        <%= link_to() do %>
          <div class="thumbnail">
            <img src="<%= plot.img_link %>">
            <div class="caption">
              <h3 class="title"> <%= plot.title %> </h3>
              <p class="artist"> <%= plot.architect.name %> </p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>