<p id="notice"><%= notice %></p>

<p>
  <strong>Latitude:</strong>
  <%= @plot.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @plot.longitude %>
</p>

<p>
  <strong>Address:</strong>
  <%= @plot.address %>
</p>

<p>
  <strong>Description:</strong>
  <%= @plot.description %>
</p>

<p>
  <strong>Title:</strong>
  <%= @plot.title %>
</p>

<p>
  <strong>Type:</strong>
  <%= @plot.typ %>
</p>

<p>
  <strong>Image:</strong>
  <img src="<%= @plot.img_link %>">
</p>

<%= link_to 'Edit', edit_plot_path(@plot) %> |
<%= link_to 'Back', plots_path %>
