<div id="menu">
	<h1>Archimapper</h1>
      <ul>
      	  <li><%= link_to "Map", root_path %></li>
          <li><%= link_to "About", "pages/about" %></li>
          <li><%= link_to "Buildings", "../buildings" %></li>
          <li><%= link_to "Suggest Building", "pages/suggest" %></li>
          <li><%= link_to "Contact", "pages/contact" %></li>

      </ul>
    <img alt="Close" class="icon-close" src="https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-white.svg" width="24px">
</div>
